/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif!important;
    background: #fafafa;
    font-size: 11px;
}

a,
a:hover
a:focus {
    color:black!important;
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 5px!important;

}
.nopag{
    color:white!important;
}

.link{
color: grey;
}

.btn-outline-info,
.btn-outline-dark{
       color:black!important;

}
.btn-outline-info:hover,
.btn-outline-dark:hover{
    color:white!important;
}
button{
    margin-bottom: 5px!important;
}


.navbar {
    padding: 15px 10px;
    background:#202121;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.list-unstyled{
    background: #262424;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.sub{
    padding-left: 5px;
}
.up{
    margin-top: 15px!important;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 0px dashed #ddd;
    margin: 40px 0;
}

.id_wilayah_map,
.id_jenis_map{
    size: 50;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background:#262424;
    color :#575151;
    transition: all 0.3s;
    text-decoration: none;
    height: 100%;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    top: 0px
    left:0px;
}
.active{
    color :black!important;
}

#sidebar.active {
    margin-left: -250px;
    color :white !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    color :white !important;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 0px solid #47748b;
    color: #828282;
    color :white !important;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
    color :white !important;
}

#sidebar ul li a {
    padding: 10px;
    font-size:11px;
    display: block;
    color :#828282 !important;
}

#sidebar ul li a:hover {
    color:#ffffff;
    text-decoration: none;
    color :white !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    color :white !important;
    background: #262424;
  
}

a[data-toggle="collapse"] {
    position: relative;
    color :white !important;
    background: #262424;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color :white !important;
    background:  #262424;
}
#pageSubmenu2{
    color :white !important;
    background: #262424;
}
ul ul a {
    font-size: 11px !important;
    padding-left: 40px !important;
    background:  #262424;
    color :#fff!important;
    color :white !important;
}

ul.CTAs {
    padding: 20px;
}
.container{
    margin-top: 0px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #fff;
}


li.hover {

    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 50px;
    margin-left: 250px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
.card-columns {
display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;


}

.height {
    height: 100vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid black;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
}
.table input{
    size:30px;
}


#map { width: 500px; height: 250px; 
margin-bottom: 40px;}
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

.chart--container {
  height: 100%;
  width: 100%;
  min-height: 150px;
}

#myChart1{
    height: 270px;
    width: 490px;
    padding: 0px;
}
.zc-ref {
  display: none;
}
 #myChart{
    height: 270px;
     width: 490px;
       padding: 0px;
    
}
.zc-ref {
  display: none;
}

#map2{
        width: 700px;
        height: 550px;
    }

#map3{
    height: 500px;
    width: 600px;"
}
