{% extends 'beranda/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login</h3>
                    <form method="POST">
                    	{% csrf_token %}
                        {{form.as_p}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">Login </button> 
                        </div>
                    </form>
               <div class="borer-top pt-3">
   <small class="text-muted">
      lupa password ? <a class = "ml-2" href="#">
        hubungi admin untuk reset
      </a>
    </small> 
  </div>
                </div>
         </div>
{% endblock content %}