{% extends 'beranda/base.html' %}
{% block content %}
<div class="content-section">
	  <h1>Anda sudah logout</h1>
		<small class="text-muted">
			Sudah ada akun ? <a class = "ml-2" href="{% url 'login' %}">
				Masuk 
			</a>
		</small>
	</div>
</div>


{% endblock content %}