{% extends 'beranda/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Daftar</h3>
                    <form method="POST">
                      {% csrf_token %}
                        {{form|crispy}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">DAFTARKAN</button> 
                        </div>
                    </form>
                    
                </div>
         </div>
{% endblock content %}