{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% if judul %}
        <title>GMS - {{ judul }}</title>
    {% else %}
        <title>GMS</title>
    {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
   <!--<script src="{% static 'css/leaflet/leaflet-src.esm.js' %}" ></script>
    <script src="{% static 'css/leaflet/leaflet-src.js' %}" ></script>
    <script src="{% static 'css/leaflet/leaflet.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/leaflet/leaflet.css' %}"  />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  

</head>
<body>
   <div class="navbar fixed-top">
     <h3 class="text-white">GMS System</h3>
      </div>
<div class="wrapper">
       
  <nav id="sidebar">
   

   <ul class="list-unstyled components" >

    {% with request.resolver_match.url_name as url_name %}
      <li class="{% if url_name == 'home' or url_name == 'detail' or url_name == 'editmap' %}active{% endif %}">
        <a href="{%url 'home'%}"><i class="fa fa-dashboard "></i><span class="m-4 ">Dasboard</span></a>
                </li>
                
            {% if user.is_authenticated%}
             <li class="{% if url_name == 'uploadGeo'  %}active{% endif %}">
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-upload"></i><span class="m-4">Import</span></a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li class="sub">
                            <a href="{%url 'uploadGeo' %}">Dataset SHP</a>
                        </li>
                        <li class="sub">
                            <a href="{%url 'uploadGeo' %}">Dataset Geojson/Json</a>
                        </li>
                    </ul>
                </li>
                   <li class="{% if url_name == 'urpost' %}active{% endif %}">
                  <a  href="{%url 'urpost'%}"> <i class="fa fa-tags"></i><span class="m-4">Postingan anda</span></a>
                </li>
             {% if user.is_staff%}
                 <li class="{% if url_name == 'settings' or url_name == 'register'%}active{% endif %}">
                  <a  href="{%url 'settings'%}"> <i class="fa fa-wrench"></i><span class="m-4">Settings</span></a>
                </li>
                 <li>
                  <a  href="#"> <i class="fa fa-user"></i><span class="m-4">{{user}} (admin)</span></a>
                </li>
                {% else %}
                     <li>
                  <a  href="#"> <i class="fa fa-user"></i><span class="m-4">{{user}}</span></a>
                </li>
                   {%endif %}
                  
                 <li class="{% if url_name == 'logout' %}active{% endif %}">
                  <a  href="{%url 'logout'%}"> <i class="fa fa-sign-out"></i><span class="m-4">Logout</span></a>
                </li>
                {% else %}
                  <li class="{% if url_name == 'login' %}active{% endif %}">
                  <a  href="{%url 'login'%}"> <i class="fa fa-sign-in"></i><span class="m-4">Login</span></a>
                </li>

                {%endif %}

                
                <li class="{% if url_name == 'tentang' %}active{% endif %}">
                    <a href="{%url 'tentang'%}"><i class="fa fa-info-circle "></i><span class="m-4">Tentang aplikasi</span></a>
                </li>
                {% endwith %}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
          {% if messages %}
  {% for message in messages %}
    <div id="this" class=" alert alert-{{ message.tags }}">{{ message }}  <button onclick = "hapus()" class="btn btn-success {{ message.tags }}">Tutup</button></div>

  {% endfor %}
{% endif %}


             {% block content %}{% endblock content %}
                </div>
          </div>


<script type="text/javascript" src="{% static 'css/awaljs.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>