{% extends 'beranda/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-12 col-md-8">
	
<div id='map2'></div>
</div>
<div class="col-sm-4">
  <div class="card-body">
    
 
  <ul class="list-group list-group-flush">
  	
     <li class="list-group-item"><small class="text-muted text-center">Tanggal diambil : {{object.date|date:"F d,Y"}} </small></li>
     <li class="list-group-item">Daerah: {{object.wilayah_map}}</li>
    <li class="list-group-item">Langtitude/Longtitude: <br> {{object.latitude }} ° S  ,  {{object.longtitute}} ° E </li>
    <li class="list-group-item">Jenis map :{{object.jenis_map}}</li>
     <li class="list-group-item">  <a href="{{object.file.url}}"><i class="link fa fa-link "></i><span class="m-2">map URL</span></a></li>
    <li class="list-group-item">Uploader: {{object.uploader.username}}</li>
       <li class="list-group-item">
        <a href="{{object.file.url}}" download=""><i class=" fa fa-download"></i></a>  
    {%if object.uploader == user%}
  		<a href="{%url 'hapus' object.pk%}"><i class="fa fa-trash"></i></a> 
     	<a href="{%url 'edit' object.pk%}"><i class="fa fa-edit"></i></a>
     {% endif %}
     </li>
  </ul>
   </div>
   	

</div>
</div></div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js" integrity="sha512-Abr21JO2YqcJ03XGZRPuZSWKBhJpUAR6+2wH5zBeO4wAw4oksr8PRdF+BKIRsxvCdq+Mv4670rZ+dLnIyabbGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet-panel-layers-master/src/leaflet-panel-layers.css' %}">
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script type="text/javascript" src="{% static 'css/leaflet.browser.print-master/dist/leaflet.browser.print.min.js'%}"></script>
<script type="text/javascript" src="{{object.file.url| safe}}"></script>
<script type="text/javascript" src="{% static 'css/leaflet-panel-layers-master/src/leaflet-panel-layers.js' %}"></script>
<script type="text/javascript">
var container = L.DomUtil.get('map'); if(container != null){ container._leaflet_id = null; }


var map2 = new L.Map('map2', {
    fullscreenControl: {
        pseudoFullscreen: true // if true, fullscreen to page width and height
    }
}).setView(["{{object.latitude}}","{{object.longtitute}}"], 7);
map2.addControl(new L.Control.Fullscreen());
var featuresLayer = new L.GeoJSON.AJAX("{{object.file.url}}", {onEachFeature: onEachFeature}).addTo(map2); 

var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
}).addTo(map2)

var geojson;
 var popup = L.popup()
        .setLatLng(["{{object.latitude}}","{{object.longtitute}}"])
        .setContent('Click marker/shape untuk dapat lihat data dari properties tiap shape/marker!.')
        .openOn(map2);
osmLayer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

map2.addLayer(osmLayer);

function name(name) {
	return  '<span>'  +name + '</span>' + '<br>'+ '<span>' + 'banyak fitur : ' +Object.keys(Data.features).length; + '</span>'
}
function name2(name) {
	return '<span>'  + name + '</span>';
}

var baseLayers = [
	{
		name:name2("OpenStreetMap"),
		layer: osmLayer
	},
	{
		name:name2("OpenCycleMap"),
		layer: L.tileLayer('https://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png')
	},
	{
		name: name2("Outdoors"),
		layer: L.tileLayer('https://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png')
	}
];
var markah ='lihat' +' ' + Data.features[0].geometry.type 
var overLayers = [
	{
		active:true,
		name:name(markah),
		layer:  featuresLayer
	},
];

var panelLayers = new L.control.panelLayers(baseLayers, overLayers);

map2.addControl(panelLayers);




function onEachFeature(feature, layer) {
		var popupContent= '<h5> Data properties : </h5>' 

		if (feature.properties) {
			var obj = Object.keys(feature.properties);
			var obj2 = Object.values(feature.properties);
			for (var i =0;i< obj.length;  i++) {
				var index = obj[i];
				var value = obj2[i]; 
				popupContent += index + ' = ' + value+'<br>'+'</div>';
			}
		}
//popupContent +=
layer.bindPopup(popupContent,{autoPan: true,maxHeight:300})
/*layer.bindTooltip(feature.properties.zona,{permanent:true,direction:'center'})*/
//console.log(layer.bindPopup(popupContent,{autoPan: true}))
console.log(popupContent)
}


/*
geojson = L.geoJSON(Data, {
		onEachFeature: onEachFeature
}).addTo(map);
*///
	
L.control.browserPrint({closePopupsOnPrint: false,}).addTo(map2);


</script>




{% endblock content %}