{% extends 'beranda/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
<div class="col" ><div id='map' style="width:490px;"></div></div>
<div class="col"><div class="card text-dark bg-info mb-3  text-center " style="width: 500px;height: 250px;">
  <div class="card-header  text-center text-white">Total Datasets</div>
  <div class="card-body  text-center ">
    <p class="card-text text-white" style="padding-top: 40px;font-size: 60px;">{{max_obj|length}}</p>
  </div>
</div>
</div>
</div>

<div class="row">
   <div class="col"><div id='myChart'></div></div>
  <div class="col"><div  id="myChart1"></div></div>
</div>
<div class="container up"  >
    <div class=" d-flex justify-content-center align-items-center">
        <div class="col-md-8">
        	<form method="GET" id="form" >
<div class="search"> <i class="fa fa-search"></i> <input type="text"  name = "qm" class="form-control" placeholder="Cari berdasarkan wilayah/jenis/tahun/uploader" value="{{request.GET.qm}}"> 
  <button class="btn btn-dark" id='tag' >Search</button> </div>
</form>
</div>
    </div>
</div></div>
{%if request.GET.qm %}
<div class="container up" id="qm" >
<h4 >pencarian untuk " {{request.GET.qm}} ",hasil = {{items|length}}</h4> 
</div>
{% endif %}
<div class="container">
<div class="card-columns">

{%for item in items%}
<div class="card">
  <img class="card-img-top" src="https://www.dropbox.com/scl/fi/mwxpvbh02iri94xkc8i5m/{{item.thumbnail.name | cut:'gmbr/'}}?rlkey=a9ob6hr9h0l42793y1i0uxm1i&raw=1" alt="Card image cap" style="width: 300px;height: 300px;">
  <div class="card-body">
    <h5 class="card-title text-center"><a href="{% url 'detail' item.pk%}"><i class="fa fa-map-o"></i><span class="m-2">lihat map</span></a></h5>
    <ul class="list-group ">
    <li class="list-group-item"><small class="text-muted text-center">Tanggal diambil : {{item.date|date:"F d,Y"}} </small></li>
    <li class="list-group-item">Daerah: {{item.wilayah_map}}</li>
     <li class="list-group-item">Jenis map :{{item.jenis_map}}</li>
    <li class="list-group-item">Latitude/Longtitude: <br>{{item.latitude }} ° S  ,  {{item.longtitute}} ° E </li>
    <li class="list-group-item">  <a href="{{item.file.url}}"><i class="link fa fa-link "></i><span class="m-2">URL map</span></a></li>
    <li class="list-group-item">Uploader: {{item.uploader.username}}</li>
       <li class="list-group-item">
        <a href="{{item.file.url}}" download><i class="link fa fa-download"></i></a> 
    {%if item.uploader == user or user.is_staff%}
      <a href="{%url 'hapus' item.pk%}"><i class="link fa fa-trash"></i></a> 
     	<a href="{%url 'edit' item.pk%}"><i class="link fa fa-edit"></i></a>
     {% endif %}
     </li>
  </ul>
   </div>

   		</div>

  {%endfor%}

</div>
</div>
<div align="center" class="text-white">
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">Awal</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>

      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-dark mb-4 nopag" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}
     {% else %}
         <a class="nopag  btn btn-dark mb-4" href="{%url 'home'%}">1</a>

    {% endif %}
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script>


 /* window.onunload = function(){localStorage.setItem('scrollY',window.scrollY)}
   window.onload = function(){
    var scroll = parseInt(localStorage.getItem("scrollY"))
    if (!isNaN(scroll)){
      window.scroll(0,scroll)
    }
  }*/
 
var container = L.DomUtil.get('map'); if(container != null){ container._leaflet_id = null; }
	var map = L.map('map').setView([-0.808842, 114.609375],4);

var Stamen_Toner = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.{ext}', {
  attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  subdomains: 'abcd',
  minZoom: 0,
  maxZoom: 20,
  ext: 'png'
}).addTo(map);
	var LeafIcon = L.Icon.extend({
		options: {
			iconSize:     [38, 95],
			shadowSize:   [50, 64],
			iconAnchor:   [22, 94],
			shadowAnchor: [4, 62],
			popupAnchor:  [-3, -76]
		}
	});

	{%for item in max_obj%}
	var lat = "{{item.latitude}}";
	var long = "{{item.longtitute}}";
		L.marker([lat,long]).addTo(map);

	{% endfor %}
  var info = L.control();

  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

  info.update = function () {
    this._div.innerHTML = '<h4>Sebaran Datasets</h4>'
  };
 info.addTo(map)
	var xValues = [];
	var yValues = [];
	var barColors = [];
	var i = 0;
	{%for item in max_obj%}
	var randomColor = Math.floor(Math.random()*16777215).toString(16);
	var index = xValues.indexOf("{{item.wilayah_map}}");
	if (index === -1){
		xValues.push("{{item.wilayah_map}}");
		yValues[xValues.indexOf("{{item.wilayah_map}}")] = 1;
		barColors[xValues.indexOf("{{item.wilayah_map}}")] = '#'.concat(String(randomColor));
	}

	else{
	   yValues[xValues.indexOf("{{item.wilayah_map}}")] += 1;
	}

 
	{% endfor %}
  var today = new Date()
  var today = moment(today).format('DD-MM-Y')
	window.addEventListener('load', function() {
  // Javascript code to execute after DOM content
 
  // full ZingChart schema can be found here:
  // https://www.zingchart.com/docs/api/json-configuration/
  const myConfig = {
    type: 'bar',

    title: {
      text: 'Wilayah yang tersedia',
      fontSize: 24,
      color: '#5d7d9a'

    },

    legend: {
      draggable: true,
      x:'380px'
    },
    scaleX: {
      // set scale label
      label: {
        text: 'Wilayah'
      },
        item: {
      fontAngle: -20,
      fontColor: '#9a9cab',
      fontFamily: 'Arial',
      fontSize: '10px',
      offsetX: '5px',

    },
      // convert text on scale indices
      labels: xValues,
      backgroundColor: '#1d1a2e',
        lineColor: '#53566f',
    tick: {
      lineColor: '#53566f'
    }

    },
    scaleY: {
      // scale label with unicode character
      label: {
        text: 'Jumlah Datasets'
      },  lineColor: '#53566f',
    tick: {
      lineColor: '#53566f'
    },

    },
    plot: {
      // animation docs here:
      // https://www.zingchart.com/docs/tutorials/design-and-styling/chart-animation/#animation__effect
      animation: {
        effect: 'ANIMATION_EXPAND_BOTTOM',
        method: 'ANIMATION_STRONG_EASE_OUT',
        sequence: 'ANIMATION_BY_NODE',
        speed: 275,

      },
      
    },
    series: [{
        // plot 1 values, linear data
        values: yValues,
        text: today,
        backgroundColor: '#541fbf'
      },
    ],
    backgroundColor:'#1d1a2e'
  };
 
  // render chart with width and height to
  // fill the parent container CSS dimensions
  zingchart.render({
    id: 'myChart',
    data: myConfig,
    height: '100%',
    width: '100%'
  });
});




var xValues1 = [];
var yValues1 = [];
var barColors1 = [
];
var i = 0;


{%for item in max_obj%}
var randomColor = Math.floor(Math.random()*16777215).toString(16);
var index = xValues1.indexOf("{{item.jenis_map}}");
if (index === -1){
	xValues1.push("{{item.jenis_map}}");
	yValues1[xValues1.indexOf("{{item.jenis_map}}")] = 1;
	barColors1[xValues1.indexOf("{{item.jenis_map}}")] = "#".concat(String(randomColor));
}

else{
   yValues1[xValues1.indexOf("{{item.jenis_map}}")] += 1;
}


{% endfor %}
const myConfig = {
    type: 'bar',
 
    title: {
      text: 'Jenis yang tersedia',
      fontSize: 24,
      color: '#5d7d9a'
    },
    legend: {
      draggable: true,
      y:"0px;"
    },
    scaleX: {
      // set scale label
      label: {
        text: 'Wilayah',

      },

      // convert text on scale indices
      labels: xValues1,
      item: {
      fontAngle: -10,
      fontColor: '#9a9cab',
      fontFamily: 'Arial',
      fontSize: '10px',
      offsetX: '35px',
       offsetY: '-5px',
  lineColor: 'red',
    tick: {
      lineColor: '#53566f'
    }

    },
backgroundColor: '#030d1c'

    },
    scaleY: {
      // scale label with unicode character
      label: {
        text: 'Jumlah Datasets'
      },
      lineColor: '#53566f',
    tick: {
      lineColor: '#53566f'
      },
    


    },
    plot: {
      // animation docs here:
      // https://www.zingchart.com/docs/tutorials/design-and-styling/chart-animation/#animation__effect
      animation: {
        effect: 'ANIMATION_EXPAND_BOTTOM',
        method: 'ANIMATION_STRONG_EASE_OUT',
        sequence: 'ANIMATION_BY_NODE',
        speed: 275,

      },
      
    y:"40px;"
     
      
    },
    series: [{
        // plot 1 values, linear data
        values: yValues1,
        text: today,
        backgroundColor: '#86bbe3',
      y:"0px;"

      },
    ],
    backgroundColor:'#030d1c',
   
  };
 
  // render chart with width and height to
  // fill the parent container CSS dimensions


 
/*for (var i = 0 ; i < xValues1.length; i++) {
  myConfig.series.push({
      values: [yValues1[i]],
      text: xValues1[i],
      backgroundColor: barColors1[i],
    },)
}*/
  // render chart with width and height to
  // fill the parent container CSS dimensions
  zingchart.render({
    id: 'myChart1',
    data: myConfig,
    height: '100%',
    width: '100%'
  });


</script>
{% endblock content %}