 {% extends 'beranda/base.html'%}

{% block content %}
   <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hapus postingan</legend>
                <h2>Anda yakin mau menghapus map {{ object.nama_map }} ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Hapus</button>
                <a class="notag btn btn-outline-secondary" href="{% url 'home' %}">Batal</a>
            </div>
        </form>
    </div>
{% endblock content %}