{% extends 'beranda/base.html' %}
{% load static %}
{% block content %}
<div class="container"  >
    <div class=" d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <form method="GET" id="form" >
<div class="search"> <i class="fa fa-search"></i> <input type="text" id="qmu" name = "qmu" class="form-control" placeholder="Cari berdasarkan wilayah/jenis/tahun/uploader" value="{{request.GET.qmu}}"> 
  <button class="btn btn-dark">Search</button> </div>

</form>

        </div>
    </div>
</div>
{%if request.GET.qmu %}
<div class="container" >
<h4 >pencarian untuk " {{request.GET.qmu}} ",hasil = {{items|length}}</h4> 
</div>
{% endif %}
<div class="container" style="margin-top: 5px;">
<div class="card-columns">

{%for item in items%}

<div class="card">
  <img class="card-img-top" src="{{item.thumbnail.url}}" alt="Card image cap">
  <div class="card-body">
   <h5 class="card-title text-center"><a href="{% url 'detail' item.pk%}"><i class="fa fa-map-o"></i><span class="m-2">lihat map</span></a></h5>
   
 
  <ul class="list-group ">
     <li class="list-group-item"><small class="text-muted text-center">Tanggal diambil : {{item.date|date:"F d,Y"}} </small></li>
    <li class="list-group-item">Daerah: {{item.wilayah_map}}</li>
    <li class="list-group-item">Lokasi: {{item.latitude }} ° S  ,  {{item.longtitute}} ° E </li>
    <li class="list-group-item">Jenis map :{{item.jenis_map}}</li>
     <li class="list-group-item">  <a href="{{item.file.url}}"><i class="link fa fa-link "></i><span class="m-2">GeoJson URL</span></a></li>
    <li class="list-group-item">Uploader: {{item.uploader.username}}</li>
       <li class="list-group-item">
        <a href="{{item.file.url}}" download=""><i class="fa fa-download"></i></a> 
      <a href="{%url 'hapus' item.pk%}"><i class="fa fa-trash"></i></a> 
     	<a href="{%url 'edit' item.pk%}"><i class="fa fa-edit"></i></a>
     </li>
  </ul>
   </div>
</div>
  {%endfor%}
</div>
</div>
<div align="center" class="text-white">
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">Awal</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>

      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-dark mb-4 nopag" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}
     {% else %}
         <a class="nopag  btn btn-dark mb-4" href="{%url 'home'%}">1</a>

    {% endif %}
</div>
{% endblock content %}