{% extends 'beranda/base.html'%}
{%block content%}
<h3>Users Panel</h3>
<h5>total user {{totUsers|length}}</h5>
<hr>
<div class="container">
    <div class=" d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <form method="GET">
<div class="search"> <i class="fa fa-search"></i> <input type="text" name = "qu" class="form-control" placeholder="Cari berdasarkan username/id/email" value="{{request.GET.qu}}"> 
  <button class="btn btn-dark">Search</button> </div>

</form>

        </div>
    </div>
</div>
<a  href="{% url 'register' %}" class="btn btn-outline-info mb-4 up" ><i class="fa fa-plus"></i><span class="m-4">Tambah User</span></a>
{%if request.GET.qu %}
<div class="container">
<h4 >pencarian untuk " {{request.GET.qu}} ",hasil = {{users|length}}</h4> 
</div>
{% endif %}
<table class="table " >

  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">ganti password</th>
      <th scope="col">konfirm password</th>
       <th scope="col">Aksi</th>

    </tr>
  </thead>
  <tbody>
  	
  {%for u in users%}
  <form method="post">
  	{% csrf_token %}

  	<input type="hidden" name="pk" value="{{u.pk}}">
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><input type="text" name="nama"  value="{{u.username}}" size="10" required></td>
      <td><input type="text" name="email" value="{{u.email}}"size="10" required></td>

 <td> 
 	<SELECT name="set" SIZE="1">
 	{%if u.is_staff%}
 	  <OPTION value="admin">Staff<br></OPTION>
  	  <OPTION value="user">User<br></OPTION>
      
      {%else %}
      	<OPTION value="user">User<br></OPTION>
       <OPTION value="admin">Staff<br></OPTION>
       
     {%endif%}
   </SELECT>  
    </td>
    <td><input type='password' name='password' size="10"></td>
    <td><input type='password' name='password2'  size="10"></td>
    <td>
    	<button type="submit" name="ubah" class="btn btn-primary">Ubah</button>
    	 <a class="btn btn-danger nopag" href="{%url 'hapusUser' u.pk %}">Hapus</a>
    	
    </td>
    </tr>

     </form>

  {%endfor%}
 
  
  </tbody>
</table>

<div class="container" align="center">
 {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">Awal</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>

      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-dark mb-4 nopag" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}
     {% else %}
         <a class="btn btn-dark mb-4 nopag" href="{%url 'settings'%}">1</a>

    {% endif %}
  </div>
<hr> 
<h3>Post Panel</h3>
<h5>total posts {{totPosts|length}}</h5>
<div class="container">
    <div class=" d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <form method="GET">
<div class="search"> <i class="fa fa-search"></i> <input type="text" name = "qp" class="form-control" placeholder="Cari berdasarkan wilayah/jenis/tahun/uploader" value="{{request.GET.qp}}"> 
  <button class="btn btn-dark">Search</button> </div>

</form>

        </div>
    </div>
</div>
{%if request.GET.qp %}
<div class="container up">
<h4 >pencarian untuk " {{request.GET.qp}} ",hasil = {{posts|length}}</h4> 
</div>
{% endif %}

<table class="table up">

  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Wilayah</th>
      <th scope="col">Jenis</th>
      <th scope="col">Tahun</th>
      <th scope="col">Uploader</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    
  {%for s in posts %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{s.wilayah_map}}</td>
      <td>{{s.jenis_map}}</td>
      <td>{{s.date|date:"F,d Y"}}</td>
       <td>{{s.uploader}}</td>
     <td><a class="btn btn-primary nopag " href = "{% url 'edit' s.pk %}">edit</a>
      <a class="btn btn-danger nopag " href = "{% url 'hapus'  s.pk %}">Hapus</a>
    </td>
    </tr>


  {%endfor%}
  
  </tbody>
</table>

{%endblock content%}