{% extends 'beranda/base.html' %}
{% block content %}
<H1>About this app</H1>
<p>Apikasi ini di buat oleh Muhammad Samba:</p>
<br>
<h3>Cara Penggunaan</h3>
<ul>
	<li>
		Login admin
	</li>
	<li>
		Lengkapi seluruh kredensial termasuk import geojson / json pastikan dataset berekstensi geojson
	</li>
	<li>
		
	</li>
</ul>

{% endblock content %}