{% extends 'beranda/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Upload Data Baru (Geojson)</h3>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                          <div class="form-group up">
                            <button type="submit" class="btn btn-dark">upload</button> 
                        </div>
                    </form>
                </div>
    <div class="col-xl-7"> 
        <div id = 'map3' ></div>
</div>

</div>
</div>
<script type="text/javascript">
    var container = L.DomUtil.get('map'); if(container != null){ container._leaflet_id = null; }  
    var map = L.map('map3').setView([0.7893, 113.9213],5);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var LeafIcon = L.Icon.extend({
        options: {
            iconSize:     [38, 95],
            shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor:  [-3, -76]
        }
    });



    var popup = L.popup()
        .setLatLng([0.7893, 113.9213])
        .setContent('Click map untuk otomatis mendapatkan latitue longtitude.')
        .openOn(map);

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent('Koordinat map ' + e.latlng.toString())
            .openOn(map);
        document.getElementById('id_latitude').value = e.latlng.lat;
        document.getElementById('id_longtitute').value = e.latlng.lng;
    }

    map.on('click', onMapClick);

</script>
{% endblock content %}

